/* 🌱 General Styling */
body {
 
  color: #000000;
  
}

h2 {
  color: #11036f;
  margin-bottom: 20px;
}

/* 🌍 Hero Section */
.hero-section {
  padding: 80px 20px;
  background-image: url("bg01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  color: white;
  position: relative;
  overflow: hidden; 
 
}



.hero-section h1 {
  color: #ffffff;
  font-size: 6rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}




.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-weight: 600;
}

.hero-section h4{
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ♻️ Features Section */
.features-section {
  background: rgb(255, 255, 255);
  padding: 60px 20px;
}

.feature-box {
  padding: 20px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 4px solid #002aff00;
  
  border-radius: 12px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 8px 8px rgb(0 36 135 / 39%);
  transition: transform 0.3s; 
  
}

.feature-box img {
  width: 100px;
  margin-bottom: 10px;
}
.feature-box p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* 🚀 Process Section */
.process-section {
  padding: 60px 20px;
  background: #ffffff;
  color: #000000;
  text-align: center;

}


.step {
  padding: 40px;
  border-radius: 8px;
  background: #26ff0000;
  margin: 10px;
  color: #000000;
  box-shadow: 0 8px 8px rgb(0 36 135 / 39%);
  transition: transform 0.3s;
  font-size: 1.5rem;
}

/* 💬 Testimonials */
.testimonials-section {
  background: white;
  padding: 60px 20px;
}

.testimonial {
  background: #fbe9e7;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* 📞 Footer */
.footer-section {
  background: #1b5e20;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

.footer-section p {
  margin: 0;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}

.social-icons a:hover {
  color: #a5d6a7;
}

.cta-btn {
  background-color: #07def6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.cta-btn:hover {
  background-color: #000ecc;
}

.mt-3{
  background-color: #00becc;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s;  


}
.mt-4 a{
  background-color: #00becc;
  margin-top: 20px;
}
